<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-image: url("{{ url_for('static', filename='./classical/home.jpeg') }}");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            margin: 0;
            padding: 20px;
            /* Fixed the padding property */
        }

        .calculator-form {
            max-width: 400px;
            margin: 0 auto;
        }

        .result-text {
            color: white;
        }
    </style>
</head>

<body>
    <header>
        <h1 class="text-center mb-4">Polynomial Arithmetic</h1>
        <h1 class="text-center mb-4">GF(2 <sup>{% if m : %}{{m}}{% else %}m{% endif %}</sup>)</h1>
    </header>
    <!-- <h1 class="text-center mb-4">GF(2 <sup>{% if m : %}{{m}}{% else %}m{% endif %}</sup>)</h1> -->

    <form class="calculator-form" action="/polynomial-arithmetic" method="post" novalidate>
        <!-- Add 'novalidate' to disable browser validation and use custom validation -->

        <div class="form-group">
            <label for="operation">Select an operation:</label>
            <select
                class="form-control {% if operation_error %}is-invalid{% elif operation_success %}is-valid{% endif %}"
                id="operation" name="operation" required onchange="this.form.submit()">
                <option value="" {% if not operation %}selected{% endif %} disabled>Select an operation</option>
                <option value="inverse" {% if operation=='inverse' %}selected{% endif %}>Inverse </option>
                <option value="inverse_bin" {% if operation=='inverse_bin' %}selected{% endif %}>Inverse Binary
                </option>
                <option value="modulo" {% if operation=='modulo' %}selected{% endif %}>Modulo </option>
                <option value="addition" {% if operation=='addition' %}selected{% endif %}>Addition </option>
                <option value="subtraction" {% if operation=='subtraction' %}selected{% endif %}>Subtraction
                </option>
                <option value="multiplication" {% if operation=='multiplication' %}selected{% endif %}>Multiplication
                </option>
                <option value="division" {% if operation=='division' %}selected{% endif %}>Division </option>
            </select>
            {% if operation_error %}
            <div class="invalid-feedback feedback">{{ operation_error }}</div>
            {% elif operation_success %}
            <div class="valid-feedback feedback">{{ operation_success }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="m">Enter m:</label>
            <input type="number" class="form-control {% if m_error %}is-invalid{% elif m_success %}is-valid{% endif %}"
                id="m" name="m" min="1" max="1000" required value="{{m}}">
            {% if m_error %}
            <div class="invalid-feedback feedback">{{ m_error }}</div>
            {% elif m_success %}
            <div class="valid-feedback feedback">{{ m_success }}</div>
            {% endif %}
        </div>

        {% if operation in ['inverse'] %}
        <div class="form-group">
            <label for="input1">Enter polynomial:</label>
            <input class="form-control {% if input1_error %}is-invalid{% elif input1_success %}is-valid{% endif %}"
                id="input1" name="input1" required value="{{input1_raw}}">
            {% if input1_error %}
            <div class="invalid-feedback feedback">{{ input1_error }}</div>
            {% elif input1_success %}
            <div class="valid-feedback feedback">{{ input1_success }}</div>
            {% endif %}
        </div>
        {% elif operation in ['addition', 'subtraction', 'multiplication', 'division', 'modulo','inverse_bin'] %}
        <div class="form-group">
            <label for="input1">Enter first polynomial:</label>
            <input class="form-control {% if input1_error %}is-invalid{% elif input1_success %}is-valid{% endif %}"
                id="input1" name="input1" required value="{{input1_raw}}">
            {% if input1_error %}
            <div class="invalid-feedback feedback">{{ input1_error }}</div>
            {% elif input1_success %}
            <div class="valid-feedback feedback">{{ input1_success }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="input2">Enter second polynomial:</label>
            <input class="form-control {% if input2_error %}is-invalid{% elif input2_success %}is-valid{% endif %}"
                id="input2" name="input2" required value="{{input2_raw}}">
            {% if input2_error %}
            <div class="invalid-feedback feedback">{{ input2_error }}</div>
            {% elif input2_success %}
            <div class="valid-feedback feedback">{{ input2_success }}</div>
            {% endif %}
        </div>
        {% endif %}

        {% if operation %}
        <button type="submit" class="btn btn-primary" name="calculate">calculate</button>
        {% endif %}

        {% if result %}

        {% if operation in ['inverse','inverse_bin']: %}
        <div class="container mt-5">
            <h2 class="mb-4"></h2>

            <table class="table table-bordered" cellspacing=12>
                <thead class="table-dark">
                    <tr>
                        <th colspan="2" rowspan="2">Q(x)</th>
                        <th colspan="2">A11(x) </th>
                        <th colspan="2">A21(x) </th>
                        <th colspan="2">A(x) </th>
                    </tr>
                    <tr>
                        <th colspan="2">A12(x)</th>
                        <th colspan="2"> A22(x)
                        <th colspan="2">B(x)</th>
                    </tr>


                </thead>
                {{ result | safe }}
            </table>
        </div>
        {% else %}

        <table class="table table-bordered" cellspacing=12>
            <tr>
                <th colspan="3">A(x)</th>
                <th colspan="10" class="result-text ">{{input1}}</th>
            </tr>
            <tr>
                <th colspan="3">B(x)</th>
                <th colspan="10" class="result-text ">{{input2}} </th>
            </tr>
            <tr>
                <th colspan="3">A(x) {{op}} B(x)</th>
                <th colspan="10" class="result-text ">{{ result }} </th>
            </tr>




        </table>
        </div>



        {% endif %}

        {% if result_error %}
        <div class="invalid-feedback feedback">{{ result_error }}</div>
        {% elif result_success %}
        <div class="valid-feedback feedback">{{ result_success }}</div>
        {% endif %}
        {% endif %}
    </form>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html